#home .flexslider .slider-text > .slider-text-inner h1, #home .flexslider .slider-text > .slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: white!important;
    font-family: "Playfair Display", Georgia, serif;
}
#home .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
    color: white!important;
    border: 1px solid white!important;
    background: transparent !important;
}

/* Start Nav Styles */
.navbar-porto {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
.navbar-porto .nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar-porto .nav-menu li {
  position: relative;
  min-width: 200px;
  text-align: right;
}
.navbar-porto .nav-menu li .dot {
  display: block;
  color: #fff;
  padding: 5px 0;
}
.navbar-porto .nav-menu li .dot::before,
.navbar-porto .nav-menu li .dot::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;  
  top: 50%;  
  transition: all .3s ease;
}
.navbar-porto .nav-menu li .dot::before {
  width: 5px;
  height: 5px;
  right: 0;
  border: 2px solid #181818;
  transform: translateY(-50%);
}
.navbar-porto .nav-menu li .dot::after {
  width: 15px;
  height: 15px;
  border: 2px solid #f44336;
  right: -5px;
  transform: translateY(-50%) scale(0);
}
.navbar-porto .nav-menu li .dot.active::before,
.navbar-porto .nav-menu li:hover .dot::before {
  background: #f44336;
  border-color: #f44336;
}
.navbar-porto .nav-menu li .dot.active::after,
.navbar-porto .nav-menu li:hover .dot::after {
  transform: translateY(-50%) scale(1);  
}
.navbar-porto .nav-menu li .dot span {
  display: inline-block;
  opacity: 0;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: capitalize;
  background-color: #f44336;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 30px;
  transform: translateX(20px);
  transition: all .3s ease;
}
.navbar-porto .nav-menu li .dot span::before {
  display: block;
  position: absolute;
  content: '';
  border-left: 7px solid #f44336;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 50%;
  transform: translate(7px, -50%);
  right: 0;
  transition: all .3s ease;
}
.navbar-porto .nav-menu li .dot.active span,
.navbar-porto .nav-menu li:hover .dot span {
  transform: translateX(0px);
  opacity: 1;
}
/* End Nav Styles */

/* desktop */
@media (min-width: 768px) {
	#colorlib-aside #colorlib-main-menu {
	    display: none !important; 
	}

}
/* mobile */
@media (max-width: 767px) {
	#navbar-porto {
	    display: none !important; 
	}
  #btnWorkContainer {
    text-align: center;
  }
  .btn-porto{
    background-color: white;
  }
  .m-mt-3 {
    margin-top: 3rem;
  }

}
/*BTN CLASS ACTIVE*/
  .menu ul li button:hover {
      color: #000 !important;
  }
  .btn-porto.active {
      color: #2c98f0 !important;
  }
  .btn-porto {
    font-size: 16px;
    border: none;
    margin-right: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 8px 2px !important;
  }
  #btnWorkContainer {
    margin: 0;
  }

/*BTN CLASS ACTIVE END*/

/* Create three equal columns that floats next to each other */
.column {
  display: none; /* Hide all elements by default */
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/*icon sosmed dan skill*/
.img-icon-skill {
  width: 48px;
  height: 48px;
}

.icon {
  fill: #f1f1f1;
  width: 24px;
  height: 24px;
  transition: fill 0.2s;
}
.icon--floating {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  animation-name: rise;
  animation-timing-function: linear;
}
.link {
  display: inline-block;
  margin: 0.5rem 0.4rem;
  position: relative;
  z-index: 2;
}
.link--twitter .icon, .link--twitter:hover ~ .icon--twitter {
  fill: #55acee;
}
.link--github .icon, .link--github:hover ~ .icon--github {
  fill: #333;
}
.link--codepen .icon, .link--codepen:hover ~ .icon--codepen {
  fill: #111;
}
.link--dribbble .icon, .link--dribbble:hover ~ .icon--dribbble {
  fill: #ea4c89;
}
@keyframes rise {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100vh - 24px));
  }
}
/*icon sosmed dan skill end*/


